<%- include('layout');%>Orders
<div class="container">
      <table class="table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Itemname</th>
                <th>Firm</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Bill</th>
                <th>Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <% for(let x in orders){%>
            <%let row =orders[x].split(",")%>
            <tr>
                <td>
                    <%=row[0]%>
                </td>
                <td>
                    <%=row[1]%>
                </td>
                <td>
                    <%=row[2]%>
                </td>
                <td>
                    <%=row[3]%>
                </td>
                <td>
                    <%=row[4]%>
                </td>
                <td>
                    <%=row[5]%>
                </td>
                <td>
                    <%=row[6]%>
                </td>
                <td>
                    <%=row[7]%>
                </td>
                <td>
                    <%=userDetails[2]%>
                </td>
                <td>
                    <%=userDetails[3]%>
                </td>
                <td>
                    <%=userDetails[4]%>
                </td>

            </tr>    
            <%}%>
        </tbody>
        </table>
</div>
<button type="button" class="btn btn-primary" id="create" onclick="createOrder()">
    Create New Order
</button>
<form action="/newOrder" method="POST">
    <select class="form-control form-control-sm">
        <option>Small select</option>
      </select>
      <select class="form-control form-control-sm">
        <option>Small select</option>
      </select>
      Price

      Quantity
</form>

<script>
    function createOrder(){

    }
</script>

<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

