<%- include('layout');%>
<h2>Orders</h2>
<div class="container">
    <%if(userDetails){%> <!-- Check user login--> 
    <table class="table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Itemname</th>
                <th>Firm</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Bill</th>
                <th>Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <% for(let x in orders){%>
            <%let row =orders[x].split(",")%>
            <tr>
                <td>
                    <%=row[0]%>
                </td>
                <td>
                    <%=row[1]%>
                </td>
                <td>
                    <%=row[2]%>
                </td>
                <td>
                    <%=row[3]%>
                </td>
                <td>
                    <%=row[4]%>
                </td>
                <td>
                    <%=row[5]%>
                </td>
                <td>
                    <%=row[6]%>
                </td>
                <td>
                    <%=row[7]%>
                </td>
                <td>
                    <%=userDetails[2]%>
                </td>
                <td>
                    <%=userDetails[3]%>
                </td>
                <td>
                    <%=userDetails[4]%>
                </td>

            </tr> 
            <%}%>   
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary mb-3" id="createOrder" onclick="createOrder()">
    Create Order
</button>
    
    <form action="/newOrder" method="POST" id="newOrderForm" style="display:none">
    
        <div class="form-group">
            <!--Populate from DB Item names-->
            <label for="selectItemName">Select Item Name</label>
            <select class="form-control" name="selectItemName" id="selectItemName" required>
                <option selected value="">Select Item Name</option>
                <%let productRows = products.split("\n").slice(1);%>
                <%for(index in productRows){%>
                    <%let row= productRows[index].split(",");%>
                    <option value="<%=row[1]+'-'+row[2]+'-Size:'+row[3]%>"><%=row[1]+'-'+row[2]+'-Size:'+row[3]%></option>
                <%}%>
            </select>
        </div>

        <!-- <div class="form-group">
          <select class="form-select" aria-label="Select Firm" name="newItemfirm" required>
            <option selected value="">Select Firm</option>
            <option value="ne">NE</option>
            <option value="ml">ML</option>
            <option value="ribw">RIBW</option>
          </select> 
        </div>
        <div class="form-group">
            
            <label for="selectItemSize">Select Item Size</label>
            <select class="form-control" id="selectItemSize" name="selectItemSize" required>
                <option selected value="">Select Size</option>
                <%for(index in productRows){%>
                    
                    <%let row= productRows[index].split(",");%>
                    <option value="<%=row[3]%>"><%=row[3]%></option>
                    <%}%>
            </select>
        </div>-->

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" name="newItemQuantity"  class="form-control" id="newItemQuantity" required/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
 <div>
    <%}else{%><!-- if closed,else scenario of unregistered user-->
        <h2>Register First</h2>
        <form action="/newUser" method="POST">
            <div class="form-group">
                <label for="phone">Phone(mobile)</label>
                <input type="tel" name="phone" pattern="[6-9]{1}[0-9]{9}" class="form-control" id="phone" required/>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="address" id="address" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Register</button>
        </form>
        <%}%>
</div>

<script>
    function createOrder(){
        let newForm = document.getElementById("newOrderForm");
        if(newForm.style.display=="none")
        {
            newForm.style.display="block";
            document.getElementById("createOrder").innerHTML = "Hide Order";
        }else{
            newForm.style.display="none";
            document.getElementById("createOrder").innerHTML = "Create Order";
        }
    }
</script>

<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

